<div class="row">
    <div class="col-12 col-md-3">
        <div class="card card-bg">
            <img  src="./assets/{{member.photoUrl || 'Site/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail ms-5 mt-3">
                <strong class="col-12 text-center mt-2">{{member.knownAs}}</strong>
                
            <div class="card-body">                               
                <div class="mt-4">
                    <i class="fa fa-briefcase text-danger"></i>
                    <strong class="ms-2">Craft :</strong>
                   {{member.craft.name}}
                </div>
                <div class="mt-4">
                    <i class="fa fa-birthday-cake text-success"></i>
                    <i class="fa fa-birthday-cake text-warning" ></i>
                    <i class="fa fa-birthday-cake text-danger"></i>
                    <strong class="ms-2">Age :</strong>
                    {{member.age}}
                </div>
                <div class="mt-4" *ngIf="!(presence.onlineUsers$ | async).includes(member.username)">
                    <i class="fa fa-sign-out text-success"></i>
                    <strong class="ms-2">Last Active :</strong>
                    <p class="ms-4">{{member.lastActive | timeago}}</p>
                </div>
                <div class="mt-4" *ngIf="(presence.onlineUsers$ | async).includes(member.username)" >
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div class="mt-4">
                    <i class="fa fa-user-plus text-info"></i>
                    <strong class="ms-1">Member since :</strong>
                    <p class="ms-4">{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer card-bg">
                <div class="btn-group d-flex card-bg">
                    <button class="btn btn-primary">
                        <i class="fa fa-heart-o" *ngIf="!isLiked"(click)="addLike(member)">
                           <span class="ms-1">Like</span> </i>
                        <i class="fa fa-heart"*ngIf="isLiked"(click)="removeLike(member)">
                            <span class="ms-1">Liked</span></i>
                        </button>
                    <button (click)="selectTab(3)" class="btn btn-success">
                        <i class="fa fa-commenting-o"></i>
                        Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-9" >
        <tabset class="member-tabset" #memberTabs>
            <tab heading='Contact Info'  (selectTab)="onTabActivated($event)">
                <div class="m-4">
                    <i class="fa fa-address-card text-danger"></i>
                    <strong class="ms-2">Address :</strong>
                    <p class="ms-4">{{member.address}}</p>
                </div>
                <div class="m-4 ">
                    <i class="fa fa-phone-square text-success"></i>
                    <strong class="ms-2">Mobile :</strong>
                    <p class="ms-4">{{member.phoneNumber}}</p>
                </div>
                <div class="m-4">
                    <i class="fa fa-facebook-square text-info"></i>
                    <strong class="ms-2">Facebook :</strong>
                    <p class="ms-4">{{member.facebookUrl}}</p>
                </div>
                <div class="m-4">
                    <i class="fa fa-envelope text-warning"></i>
                    <strong class="ms-2">Email :</strong>
                    <p class="ms-4">{{member.email}}</p>
                </div>
                
            </tab>
            <tab heading='Work Experience' (selectTab)="onTabActivated($event)">
                <p>{{member.workExperience}}</p>
            </tab>
            <tab heading='Photos' class="col-12"  (selectTab)="onTabActivated($event)" >
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                    ></ngx-gallery>
            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>
