<div class="container">
    <div class="row">
        <div class="container mt-3 col-md-3">
                <div class="col-12 btn-group float-end">
                    <button 
                        type="button"
                        class="btn btn-primary" 
                        name='orderBy' 
                        (click)="loadMembers()"
                        btnRadio='lastActive'
                        [(ngModel)]="userParams.orderBy">Last Active</button>
        
                    <button 
                        type="button"
                        class="btn btn-primary" 
                        name='orderBy' 
                        (click)="loadMembers()"
                        btnRadio='created'
                        [(ngModel)]="userParams.orderBy">Newest Members</button>
                </div>
            <form #form="ngForm" class="col-12" (ngSubmit)="loadMembers()" autocomplete="off">
                        <select 
                        class="col-12 form__input text-center mt-4" name="craftId" 
                [(ngModel)]="userParams.craftId"(change)="loadMembers()"
               
                >
                <option [ngValue]="0" selected>-- Select Craft --</option>
            <option *ngFor="let item of Crafts" [ngValue]="item.id">{{item.name}}</option>
        
                </select>          
                    <select 
                    class="col-12 form__input text-center mt-3" name="countryId" 
            [(ngModel)]="userParams.countryId"
            (change)="loadGovernorates()"
            >
            <option [ngValue]="0" selected>-- Select Country --</option>
        <option *ngFor="let item of Countries" [ngValue]="item.id">{{item.name}}</option>
        
            </select>          
                <select 
        class="col-12 form__input text-center mt-3" name="governorateId" 
        [(ngModel)]="userParams.governorateId"
        (change)="loadCities()"
        >
        <option [ngValue]="0" selected>-- Select Governorate --</option>
        <option *ngFor="let item of Governorates" [ngValue]="item.id">{{item.name}}</option>
        
        </select>
                               <select 
                               class="col-12 form__input mt-3" name="cityId" 
        [(ngModel)]="userParams.cityId"(change)="loadMembers()"
        >
        <option [ngValue]="0" selected>-- Select City --</option>
        <option *ngFor="let item of Cities" [ngValue]="item.id">{{item.name}}</option>
        
        </select>
                <button class="btn btn-primary ms-3 col-5 mt-4"  type="submit">Apply Filters</button>
                <button (click)="resetFilters()" class="btn btn-info ms-3 col-5 mt-4"  type="submit">Reset Filters</button>
               <div class="hint col-12 mt-3">* Matches ordered by Last Active OR Newest Members Buttons.</div>
               <span class="hint col-12 mt-1">* Matches depend on logged - in city by refresh page OR Reset Filters Button.</span>
                
        
            </form>
        </div>
        <div class="container mt-sm-3 col-9 text-center">
            <h2>Your matches - {{pagination?.totalItems}} found</h2>
                   
<div class="col-12 row">
    <div *ngFor="let member of members" class="col-12 col-md-3">
        <app-member-card [member]="member" [pageName]='"Matches"'></app-member-card>
    </div>
</div>

<div class="col-12 d-flex justify-content-center" *ngIf="pagination.totalItems>0">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
</pagination>
</div>
        </div>
 
    </div>
</div>



