<!-- Navbar-->
<nav class="navbar navbar-expand-lg"style="background-color: #fff;padding: 0px;"*ngIf="(accountService.currentUser$ | async) as user">
    <div class="container justify-content-between" style="padding-top: 28px;">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center"routerLink='/' routerLinkActive='active'>
                <img src="./assets/Site/Logo1.png" alt="Craftsmen Logo" class="imgLogo">
        </a>
  
      </div>
      <!-- Left elements -->
     
      <!-- Center elements -->
      <ul class="d-none d-md-flex wrapper">
        <li class="icon twitter">           
            <span class="tooltip">Matches</span>
            <span routerLink='/members' routerLinkActive='active'><i class="fa fa-users"></i></span>
          </li>
          <li class="icon github">           
            <span class="tooltip">Likes</span>
            <span routerLink='/lists' routerLinkActive='active'><i class="fa fa-heart"></i></span>
          </li>
          <li class="icon instagram">           
            <span class="tooltip">Messages</span>
            <span routerLink='/messages' routerLinkActive='active'><i class="fa fa-envelope"></i></span>
          </li>
          
<!--
        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" routerLink='/lists' routerLinkActive='active'>
            <i class="fa fa-heart fa-lg"></i>
            <strong class="badge rounded-pill item">Likes</strong>
          </a>
        </li>
      -->
               
      </ul>
      <!-- right elements -->
      <ul class="navbar-nav flex-row">
      <li class="dropdown nav-item dropdown me-3 me-lg-1" dropdown>
        <img
              src="./assets/{{user.photoUrl|| 'Site/user.png'}}"
              class="rounded-circle"
              alt="{{user.username}}"
              loading="lazy"
              style="width: 55px;"
            />
        <a class="dropdown-toggle  align-items-sm-center text-decoration-none "  dropdownToggle>
            <strong>{{user.knownAs || user.username | titlecase}}</strong>
            </a>
               <ul class="dropdown-menu mt-3" *dropdownMenu>
           <li> <a routerLink='/member/edit' class="dropdown-item item">Edit Profile</a></li>
            <li class="dropdown-divider"></li>
           <li> <a class="dropdown-item item" (click)="logout()" >Logout</a></li>
               </ul>
    </li>



     </ul>
    </div>
  </nav>
  <!-- Navbar -->
