<div class="row">
    <div class="col-6 col-md-8 row">
        <div class="col-12 col-md-3 d-flex flex-column" *ngFor="let photo of member.photos">
            <img src="./assets/{{photo.url || 'user.png'}}" alt="{{photo.url}}" class="img-thumbnail p-1">
            <div class="d-flex">
                <button 
                    [disabled]="photo.isMain"
                    (click)="setMainPhoto(photo)"
                    [ngClass]='photo.isMain ? "btnSuccess active" : "btn-outline-success"'
                    class="btn btnSuccess btn-sm flex-grow-1"
                ><i class="fa fa-home"></i></button>
                <button 
                    [disabled]="photo.isMain"
                    (click)="deletePhoto(photo.id)"
                    class="btn btn-sm btnError flex-grow-1"
                ><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <form id="file-upload-form" class="col-12 uploader">
            <input id="file-upload" type="file" 
            ng2FileSelect [uploader]="uploader" accept="image/*"/>
          
            <label for="file-upload" id="file-drag" ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
           >
              <img id="file-image" src="#" alt="Preview" class="hidden" >
              <div id="start">
                <i class="fa fa-download" aria-hidden="true"></i>
                
                <div>drag an Image here <br> ________OR________<br>select it from any Folder</div> 
                <i id="file-upload-btn" class="fa fa-camera block" aria-hidden="true"></i>
                
              </div>
              <div id="response" class="row hidden">
                <div id="messages"></div>
                <button   name="resetform" type="reset" id="resetform" class="row col-12 ms-1" style="border:none ;background-color:#fff ;">
                        <div class="btn  col-5 ms-1" (click)="uploader.uploadAll()" style="background-color:#1bc5bd ;">
                            <i class="fa fa-cloud-upload"><strong>upload</strong></i></div>
                        <div class="btn col-5 ms-1" (click)="uploader?.clearQueue()"style="background-color:#ee2d41 ;">
                            <i class="fa fa-times-circle"><strong>remove</strong></i></div>
                </button>
       
              </div>
            </label>
        </form>        
    </div>
   </div>                                                                                                                   